<h2>Spotify Data List</h2>

<!-- <input type="file" name="" id="" (change)="onUploadSong($event)"> -->

<table>
    <thead>
        <th>ID</th>
        <th>Artist</th>
        <th>Track</th>
        <th>Listened</th>
        <th>Favourites</th>
        <th>Liked</th>
    </thead>
    <tbody *ngFor="let song of songs; let i = index">
        <tr>
            <td>{{ i + 1}}</td>
            <td>{{ song.artist }}</td>
            <td>{{ song.track }}</td>
            <td>{{ song.listened }}</td>
            <td>{{ song.favorites }}</td>
            <td>{{ song.isLiked }}</td>

        </tr>
    </tbody>
</table>
